<div id="modal-dialog" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 id="modal-title">Add A Record</h3>
    </div>
    
    <div class="modal-body">
      <form id="file-200-add" role="form" novalidate>
        <div class="form-group">
          <label for="file-200-name" class="control-label">File 200</label>
      
          <input id="file-200-name" class="form-control fileman-laygo" 
            type="text" placeholder="Name" 
            data-fileman='{"file": {"number": "200"}, "fields": [{"number": ".01"}]}'>
    
          <div class="form-control-feedback"></div>
        </div>
    
        <button class="btn btn-primary fm-btn-validate">Validate</button>
      </form>
    </div>

    <div class="modal-footer"></div>
  </div><!-- .modal-content -->
</div><!-- .modal-dialog -->
