<div id="fileman">
  <h2>Find A Record</h2>
  
  <form id="file-200-find" role="form" novalidate>
    <div class="form-group">
      <label for="file-200" class="control-label">File 200</label>
      
      <input id="file-200" class="form-control fileman-autocomplete" type="text" 
        placeholder="Name" data-fileman='{"file": {"number": "200"}}'>
    
      <div class="form-control-feedback"></div>
    </div>
    
    <button class="btn btn-warning fm-btn-add">Add</button>
    <button class="btn btn-primary fm-btn-show" disabled>Show</button>
  </form>
  
  <form id="file-2-find" role="form" novalidate>
    <div class="form-group">
      <label for="file-2" class="control-label">File 2</label>
      
      <input id="file-2" class="form-control fileman-autocomplete" type="text" 
        placeholder="Name" data-fileman='{"file": {"number": "2"}}'>
    
      <div class="form-control-feedback"></div>
    </div>
    
    <button class="btn btn-warning fm-btn-add">Add</button>
    <button class="btn btn-primary fm-btn-show" disabled>Show</button>
  </form>
</div>
