<div id="fileman" class="form-group-container">
  <h2>LIST^DIC</h2>
  
  <div class="form-group">
    <label for="query-file">File</label>
    <input type="text" class="form-control" id="query-file" placeholder="File name">
    
    <button id="query-file-btn" class="btn btn-primary">Set</button>
  </div>
  
  <div class="form-group">
    <label for="query-field">Field</label>
    <input type="text" class="form-control" id="query-field" placeholder="Field name">
    
    <button id="query-field-btn" class="btn btn-primary">Add</button>
  </div>
  
  <div class="form-group">
    <label for="query-params">Fields</label>
    <textarea type="text" class="form-control" id="query-params" disabled></textarea>
    
    <button id="query-clear-btn" class="btn btn-danger">Clear</button>
    <button id="query-submit-btn" class="btn btn-success">Submit</button>
  </div>
</div>
