<div id="fileman" class="form-group-container">
  <h2>List Records</h2>
  
  <div class="form-group">
    <label for="query-file">File</label>
    <input id="query-file" class="form-control" type="text" placeholder="File name">
    
    <button id="query-file-btn" class="btn btn-primary">Set</button>
  </div>
  
  <div class="form-group">
    <label for="query-field">Field</label>
    <input id="query-field" class="form-control" type="text" placeholder="Field name" disabled>
    
    <button id="query-field-btn" class="btn btn-primary" disabled>Add</button>
  </div>
  
  <div class="form-group">
    <label for="query-params">Fields</label>
    <textarea type="text" class="form-control" id="query-params" disabled></textarea>
  </div>
  
  <div class="form-group">
    <h3>Query Actions</h3>
    
    <button id="query-clear-btn" class="btn btn-danger">Clear</button>
    <button id="query-submit-btn" class="btn btn-success" disabled>Submit</button>
  </div>
</div>
