<form id="fileman" data-toggle="validator" role="form" novalidate>
  <h2>Validate A Field</h2>
  
  <div class="form-group">
    <label for="file-200" class="control-label">File: 200 / Field: Name</label>
    
    <input id="file-200" class="fileman-laygo form-control" type="text" placeholder="Name"
      data-fileman='{"file": {"number": "200"}, "fields": [{"number": ".01"}]}'>
      
    <div class="form-control-feedback"></div>
  </div>
  
  <button type="submit" class="btn btn-primary fileman-validate">Validate</button>
</form>
