<div id="fileman" class="form-group-container">
  <h2>Dev</h2>
  
  <div class="form-group">
    <label for="file-200">File 200</label>
    <input id="file-200" class="form-control fileman-autocomplete" type="text" placeholder="Record" 
      data-fileman='{"file": {"number": "200"}}'>
    
    <button class="btn btn-danger fileman-clear">Clear</button>
    <button class="btn btn-warning fileman-add">Add</button>
    <button class="btn btn-success fileman-show" disabled>Show</button>
  </div>
  
  <div class="form-group">
    <label for="file-2">File 2</label>
    <input id="file-2" class="form-control fileman-autocomplete" type="text" placeholder="Record" 
      data-fileman='{"file": {"number": "2"}, "quantity": "4"}'>
    
    <button class="btn btn-danger fileman-clear">Clear</button>
    <button class="btn btn-warning fileman-add">Add</button>
    <button class="btn btn-success fileman-show" disabled>Show</button>
  </div>
</div>
