/* FileMan */
#fileman .form-group {
  clear: left;
}

/* Extended jQuery UI Autocomplete widgets */
.ui-menu-item-wrapper.ui-state-active {
  margin: 0px;
  border: none;
  background: none;
  color: red;
}

.ui-menu-item-wrapper.indent,
.ui-menu-item-wrapper.ui-state-active.indent {
  margin-left: 16px;
}

